.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8B4E7D;
    color: white;
    width: 100%; /* Corrected */
} 
 
.app-container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: auto; /* Allows vertical scrolling */
    overflow-x: hidden; /* Prevents horizontal scrolling */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 0;
    background: url('Background.jpg') no-repeat center center;
    background-size: cover;
}